
# exclude everything
gsel_vec/data/*/*
gsel_vec/demo/*/*
gsel_vec/demo/*

# exception to the rule
!gsel_vec/data/.gitkeep
!gsel_vec/data/*/.gitkeep
!gsel_vec/demo/input_data/.gitkeep
!gsel_vec/demo/input_data/bmi_small.test
!gsel_vec/demo/README